.header-style {
    text-align: center;
}

.style-text {
    font-weight: bold;
}

button {
    border: 1px solid grey;
}

.hidden {
    display: none;
}

.text-decoration {
    text-decoration: line-through;
}

.flex-container {
    display: flex;
}

.dom28-img_first, .dom28-img_second, .dom41-img {
    width: 300px;
}

.mark-text {
    text-decoration: line-through;
}

.bold-text {
    font-weight: bold;
}

#dom73-elem {
    display: none;
    width: 200px;
    height: 200px;
    border: 1px solid green;
    margin-top: 1rem;
}
#dom73-elem.active {
    display: block;
}

.colored {
    color: chocolate;
}

.border {
    border: 1px solid green;
}

.right {
    color: green;
}

.wrong {
    color: red;
}

.bg-color {
    background-color: green;
}

.color1 {
    background: red;
}
.color2 {
    background: green;
}

#p18 .flex-container {
    justify-content: space-between;
    font-size: 17px;
    margin: 0 5rem;
}

.style-block {
    width: 400px;
    margin: 0 2rem;
}

.input-style_green {
    border: 1px solid green;
}

.input-style_red {
    border: 1px solid red;
}

.border-style {
    padding: 30px;
    border: 1px solid red;
}

.list-style {
    list-style-type: none;
    margin-bottom: 20px;
    border: 1px dashed black;
}

.red-box {
    height: 300px;
    width: 300px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}

.yellow-box {
    height: 225px;
    width: 225px;
    background-color: yellow;
    display: flex;
    justify-content: center;
    align-items: center;
}

.green-box {
    height: 150px;
    width: 150px;
    background-color: green;
}

#event14-block {
    display: none;
    margin-top: 1rem;
}

#event14-block.show {
    display: block;
}

table {
    text-align: center;
    padding: 0;
    margin: 5px auto;
}

td {
    border: 1px solid grey;
    height: 25px;
    width: 150px;
}

.table-style {
    padding: 0;
    margin: 0 0 10px 0;
}

.td-style {
    border: 1px solid black;
}